<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oriki.mybatis.dao.mapper.UserMapper">

    <resultMap id="userMap" type="cn.oriki.mybatis.domain.User">
        <id property="id" column="id"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="email" column="email"></result>
        <result property="info" column="info"></result>
        <result property="img" column="img" jdbcType="BLOB"></result>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"></result>
    </resultMap>

    <select id="queryById" resultMap="userMap">
        select * from t_user where id = #{id};
    </select>

    <select id="queryAll" resultType="cn.oriki.mybatis.domain.User">
        select
            id ,
            username ,
            password ,
            email ,
            info ,
            img ,
            create_time
        from t_user;
    </select>

</mapper>
