<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oriki.mybatis.dao.mapper.CarMapper">

    <insert id="saveCar">
        insert into t_car values (null , #{name});
    </insert>

    <select id="queryAll" resultType="cn.oriki.mybatis.domain.Car">
        select id , name from t_car
    </select>
</mapper>
