<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oriki.mybatis.dao.mapper.PersonMapper">
    <select id="queryAll" resultType="cn.oriki.mybatis.domain.Person">
            select * from t_person ;
          </select>

    <select id="queryPersonAndIdentityCardInfoByPersonId" resultType="cn.oriki.mybatis.domain.Person">
          select
            p.id ,
            p.name ,
            i.id as `identityCard.id` ,
            i.id_number as `identityCard.idNumber`
          from t_person p inner join t_identity_card i ON i.id = p.id
          where
            p.id=#{id}
    </select>

    <resultMap id="personMap" type="cn.oriki.mybatis.domain.Person">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <association property="identityCard" javaType="cn.oriki.mybatis.domain.IdentityCard">
            <id column="id" property="id"></id>
            <result column="id_number" property="idNumber"></result>
        </association>
    </resultMap>

    <select id="queryPersonAndIdentityCardInfoByPersonId2" resultMap="personMap">
          select
            p.id ,
            p.name ,
            i.id ,
            i.id_number
          from t_person p inner join t_identity_card i ON i.id = p.id
          where
            p.id=#{id}
    </select>

    <resultMap id="personIdentityMap" type="cn.oriki.mybatis.domain.Person">
        <id column="id" property="id"></id>
        <result property="name" column="name"></result>

        <association property="identityCard" column="{id = id}"
                     select="cn.oriki.mybatis.dao.mapper.IdentityCardMapper.queryById"></association>
    </resultMap>

    <select id="queryPersonAndIdentityCardInfoByPersonId3" resultMap="personIdentityMap">
          select
            p.id ,
            p.name ,
            i.id ,
            i.id_number
          from t_person p inner join t_identity_card i ON i.id = p.id
          where
            p.id=#{id};
    </select>

</mapper>
